body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #00a1e0; /* Background color matching Primark's */
  display: flex;
  justify-content: center;
  align-items: center;
}
